---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.tags['homepage'] limit:10 %}
      <li>

	<h2 style="homepage_sum_title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

	<div style="min-height:75px;" >

	  {% if post.image-url contains 'assets' %}
          <div class="homepage_sum_img" style="float:right;" >
            <img src="{{ site.baseurl }}{{ post.image-url }}" style="max-width:160px;max-height:100px;padding:5px;margin-top:-15px;float:right" 
                 alt="post visual" title="{{ post.title }}" />
          </div>
          {% else %}
          {% endif %}

          <div class="home-article-meta" style="margin-right:170px">{{ post.date | date: "%b %-d, %Y" }} - {{ post.description }}</div>
	</div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
