---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.tags['homepage'] limit:10 %}
      <li>

        {% if post.image-url contains 'assets' %}
        <img src="{{ site.baseurl }}{{ post.image-url }}" style="max-width:160px;max-height:70px;padding:5px;float:right" alt="post visual" title="{{ post.title }}" />
        {% else %}
        {% endif %}

        <h2 style="">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="home-article-meta" style="">{{ post.date | date: "%b %-d, %Y" }} - {{ post.description }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
